.bg-img { 
    background-image: url(demo.jpg) ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: hsl(0, 100%, 74%);
    height: 100%;
    position:absolute;
    width: 100%;
}

.img-responsive {
    display: block; 
    max-width: 100%;
    height: 100%;
    position: absolute;
 }

 .left_col{
     /* height: 100%; */
     background-color: green;
     
 }

 .form_above{
     padding: 10px;
     background-color: hsl(248, 32%, 49%);
     margin-bottom: 15px;
     text-align: center;
     color: white;
 }

 .c1{
     margin-left: 20px;
     margin-top:25px;
     margin-right: 20px;
 }
.btn_div{
    margin-left: 20px;
}
/* .btn{
    background-color:hsl(154, 59%, 51%);
} */

#btn_css{
    background-color:hsl(154, 59%, 51%);
    width:95%;
    margin-top:20px;
}

@media (max-width: 400px) {
    .img-responsive {
      background-image: image-url("D:/Qure/103/Project1/Part1/qlogin/media/bg-intro-mobile.png");
    }
  }

