.root{
    width: 100%;
    height: 100%;
    background-color:  hsl(204, 43%, 93%);
    position: absolute;
}
.left_margin{
    margin-left:25%;
    margin-right: 25%;
}
.first_column{
    background-color: white;
    border-radius: 10px 10px 0 0;
}
.second_columm{
    background-color:hsl(179, 55%, 41%);
    border-radius: 0 0 0 10px;
}
.third_column{
    background-color: hsl(179, 62%, 43%);
    border-radius: 0 0 10px 0;
}
.btn{
    width: 60%;
    background-color: hsl(71, 73%, 54%);
    color: white;
}

  @media screen and (max-width: 400px) {
    div.left_margin {
        margin-left:5%;
        margin-right:5%;
    }
    div.second_columm{
        border-radius: 0 0 0 0;
    }
    div.third_column{
        border-radius: 0 0 10px 10px;
    }
  }